# SocialCops Assignment Solution 

### Siddharth Kotwal

In [75]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import pylab
sns.set(style="darkgrid")
pylab.rcParams['figure.figsize'] = (8.0, 6.0)
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

## Question 1: Find Missing Village Names
1.	A client of SocialCops was using Collect for household Survey in the Krishna district of Andhra Pradesh. It turns out in some responses, data collectors have missed entering the Assembly Constituency Names (AC), Mandal Names and Village Names in the relevant field. Fortunately, the client has maintained a database of all the tablets being deployed in different villages in different dates. Attached is an excel file <Tab_Villages_Mapping.xlsx> containing two sheets: 

    - Sheet 1 one contains a list of around 21,000 responses for which AC, Mandal and Village Names are missing and 
    - Sheet 2 contains a list of tablets in use in different villages in different dates. 

**Question 1: *Can you get the missing Village Names? [Hint: You may not get names of all the missing villages!]***

In [76]:
cols1 = ['Tab No','Survey Date','Response No']
cols2 = ['Tab No', 'Survey Start Date', 'Survey End Date','AC Name', 'Mandal Name', 'Village Name']
sheet1 = pd.read_csv('./sheet1.csv', parse_dates=['Survey Date'], usecols=cols1)
sheet2 = pd.read_csv('./sheet2.csv', parse_dates=['Survey Start Date', 'Survey End Date'], usecols=cols2)

In [77]:
sheet1 = sheet1.rename(columns={'Survey Date': 'Survey Start Date'})
sheet1.sort(columns=['Survey Start Date', 'Tab No']).iloc[0:15]

      Tab No Survey Start Date  Response No
8247     396        2014-01-01        11492
13883    413        2014-01-05        19477
13933    413        2014-01-05        19540
8363     413        2014-01-06        11652
6195     104        2015-05-15         8740
14831    167        2015-05-16        20765
874      352        2015-05-17         1409
15416    354        2015-05-17        21581
15730    359        2015-05-17        22019
2111     368        2015-05-17         3163
16095    351        2015-05-18        22530
14868    352        2015-05-18        20813
17601    359        2015-05-18        24568
19134    359        2015-05-18        26656
14244    361        2015-05-18        19975

In [78]:
sheet2.sort(columns=['Survey Start Date', 'Tab No']).iloc[0:20]

,Tab No,Survey Start Date,Survey End Date,AC Name,Mandal Name,Village Name
47,351,2015-05-17,2015-05-24,Mylavaram,Mylavaram,Tholukodu
48,353,2015-05-17,2015-05-24,Mylavaram,Mylavaram,Tholukodu
49,355,2015-05-17,2015-05-24,Mylavaram,Mylavaram,Tholukodu
50,360,2015-05-17,2015-05-24,Mylavaram,Mylavaram,Tholukodu
51,361,2015-05-17,2015-05-24,Mylavaram,Mylavaram,Tholukodu
52,364,2015-05-17,2015-05-24,Mylavaram,Mylavaram,Tholukodu
53,368,2015-05-17,2015-05-24,Mylavaram,Mylavaram,Tholukodu
54,371,2015-05-17,2015-05-24,Mylavaram,Mylavaram,Tholukodu
55,376,2015-05-17,2015-05-24,Mylavaram,Mylavaram,Tholukodu
112,263,2015-05-19,2015-05-27,Mylavaram,Mylavaram,Pondugala
107,274,2015-05-19,2015-05-27,Mylavaram,Mylavaram,Pondugala
104,275,2015-05-19,2015-05-27,Mylavaram,Mylavaram,Pondugala
110,352,2015-05-19,2015-05-27,Mylavaram,Mylavaram,Pondugala
43,354,2015-05-19,2015-05-26,Mylavaram,Mylavaram,Ganapavaram
103,357,2015-05-19,2015-05-27,Mylavaram,Mylavaram,Pondugala
105,358,2015-05-19,2015-05-27,Mylavaram,Mylavaram,Pondugala
37,359,2015-05-19,2015-05-26,Mylavaram,Mylavaram,Ganapavaram
41,362,2015-05-19,2015-05-26,Mylavaram,Mylavaram,Ganapavaram
39,363,2015-05-19,2015-05-26,Mylavaram,Mylavaram,Ganapavaram
108,365,2015-05-19,2015-05-27,Mylavaram,Mylavaram,Pondugala

In [79]:
merged_sheets = sheet1.merge(sheet2, on=['Survey Start Date', 'Tab No'], how='left').sort(columns=['Survey Start Date'])
merged_sheets.head(20)

,Tab No,Survey Start Date,Response No,Survey End Date,AC Name,Mandal Name,Village Name
8255,396,2014-01-01,11492,NaT,NaN,NaN,NaN
13893,413,2014-01-05,19477,NaT,NaN,NaN,NaN
13943,413,2014-01-05,19540,NaT,NaN,NaN,NaN
8371,413,2014-01-06,11652,NaT,NaN,NaN,NaN
6201,104,2015-05-15,8740,NaT,NaN,NaN,NaN
14842,167,2015-05-16,20765,NaT,NaN,NaN,NaN
874,352,2015-05-17,1409,NaT,NaN,NaN,NaN
2113,368,2015-05-17,3163,2015-05-24,Mylavaram,Mylavaram,Tholukodu
15428,354,2015-05-17,21581,NaT,NaN,NaN,NaN
15742,359,2015-05-17,22019,NaT,NaN,NaN,NaN
11821,371,2015-05-18,16537,NaT,NaN,NaN,NaN
19149,359,2015-05-18,26656,NaT,NaN,NaN,NaN
14879,352,2015-05-18,20813,NaT,NaN,NaN,NaN
17615,359,2015-05-18,24568,NaT,NaN,NaN,NaN
16107,351,2015-05-18,22530,NaT,NaN,NaN,NaN
14254,361,2015-05-18,19975,NaT,NaN,NaN,NaN
11837,362,2015-05-19,16565,2015-05-26,Mylavaram,Mylavaram,Ganapavaram
10562,380,2015-05-19,14749,2015-05-26,Mylavaram,Mylavaram,Ganapavaram
10498,374,2015-05-19,14660,2015-05-27,Mylavaram,Mylavaram,Pondugala
2842,355,2015-05-19,4118,NaT,NaN,NaN,NaN

Afte performing a **left join on the two columns in order** (Survey Start Date and Tab No), we've successfully obtained the the names for some corresponding entries in Sheet1. However there are a lot of missing values i.e responses in sheet1 that don't have a corresponding village name in sheet2. 

To precisley identify the responses matched with their respective village names, we can drop rows with NaN and NaT values.

In [80]:
print 'Length of merged dataframe: ', len(merged_sheets)
print 'Length of merged dataframe without missing values: ', len(merged_sheets.dropna())

final_responses = merged_sheets.dropna()
final_responses.head(10)

Length of merged dataframe:  21547
Length of merged dataframe without missing values:  1091

,Tab No,Survey Start Date,Response No,Survey End Date,AC Name,Mandal Name,Village Name
2113,368,2015-05-17,3163,2015-05-24,Mylavaram,Mylavaram,Tholukodu
11837,362,2015-05-19,16565,2015-05-26,Mylavaram,Mylavaram,Ganapavaram
10562,380,2015-05-19,14749,2015-05-26,Mylavaram,Mylavaram,Ganapavaram
10498,374,2015-05-19,14660,2015-05-27,Mylavaram,Mylavaram,Pondugala
10589,367,2015-05-19,14786,2015-05-27,Mylavaram,Mylavaram,Pondugala
14028,367,2015-05-19,19656,2015-05-27,Mylavaram,Mylavaram,Pondugala
828,204,2015-05-21,1344,2015-05-25,Nandigama,Kanchikacherla,Munnaluru
5748,339,2015-05-21,8106,2015-05-27,Tiruvuru,Tiruvuru,Laxmipuram
8261,214,2015-05-21,11502,2015-05-25,Nandigama,Kanchikacherla,Munnaluru
8166,215,2015-05-21,11381,2015-05-25,Nandigama,Kanchikacherla,Munnaluru

# Question 2: Socio-economic Index for ranking disctricts of Orissa

One of the clients of SocialCops wants to understand **the level of development in different socio-economic parameters across all the districts of Orissa**. 

1. Using open data, **prepare an index** that measures and **ranks districts of Orissa on socio-economic parameters**. 
2. Also prepare a short report on the output describing each of the components of the Index. 
(Hint: Use Data from Census, National Rural Health Mission or similar sources)

In [82]:
import savReaderWriter as spss
raw_data = spss.SavReader('./orissa.sav', returnHeader=True, ioLocale='en_US.UTF-8')
raw_data_list = list(raw_data) 
data = pd.DataFrame(raw_data_list) 
data = data.rename(columns=data.loc[0]).iloc[1:]

In [83]:
district = list(data.groupby(by=['dist']))
data = data.fillna(value=np.nan)
data = data.dropna(axis=1)
data.head(5)

,state,dist,vpsu,tehsil,psutype,psupop,segvil,segsel,slvq,slscq,...,v137g,q144a1,q144a2,q144a3,q144b1,q144b2,q144b3,v115ab12,alla,allwtd
1,21,2101,7,1,1,880,1,1,7,7,...,2,22,18,0,22,14,0,1,1,1
2,21,2101,5,7,1,583,1,1,5,5,...,2,22,14,2,22,14,2,2,1,1
3,21,2101,44,7,1,2874,5,2,44,30,...,2,22,20,9,21,20,6,1,0,0
4,21,2101,38,2,1,1631,2,1,38,38,...,2,22,23,6,21,21,6,2,0,0
5,21,2101,16,7,1,811,1,1,16,9,...,2,22,16,6,21,14,6,2,0,0

## 1. Healthcare Indicators for Orissa : DLHS-3 Survey Data for Orissa 

### District Hospital Data File (DLHS3DHIND )

*"The DLHS-3 is designed to provide information on family planning, maternal and child health, reproductive health of ever married women and adolescent girls, utilization of maternal and child healthcare services at the district level for India. ** The focus of DLHS-3 is to provide health care and utilization indicators at the district level for the enhancement of the activities under National Rural Health Mission (NRHM)."***

In the file district_hospital.sav obtained from the IPSS databank, I have extracted the data corresponding to all the districts of Orissa. There are a total of 30 districts (rows) and each has 239 separate indicators.

In [6]:
dist_hospital = spss.SavReader('./district_hospital.sav', returnHeader=True, ioLocale='en_US.UTF-8')
dist_hospital_list = list(dist_hospital)
hospital_data = pd.DataFrame(dist_hospital_list)
hospital_data = hospital_data.rename(columns=hospital_data.loc[0]).iloc[1:] 
print hospital_data.shape

(30, 239)

In [7]:
hospital_data.head(30)

,state,dist,dist_hos,dbeds,dyear,dpc,dnchc,ddist,dintd,dintm,...,d814a,d814b,d815,d91,d92,d93,d94a,d94b,d95c,d95d
1,21,1,1,91,1993,72293,8,140,14,3,...,698,1,0,1,1,1,2,2,2,2
2,21,2,2,100,1994,538385,3,40,8,2,...,None,None,None,2,2,None,2,2,2,2
3,21,3,3,213,1944,1.03561e+06,7,160,7,3,...,1,2,0,1,1,1,2,2,2,2
4,21,4,1,80,1968,307945,0,35,20,2,...,None,None,None,2,2,None,2,2,2,2
5,21,5,1,182,2008,4900,1,1,5,5,...,None,None,None,2,2,None,2,2,2,2
6,21,6,6,160,1972,985348,13,97,24,4,...,None,None,None,1,1,1,2,1,2,3
7,21,7,1,245,1938,2.438e+06,13,140,4,4,...,225,125,None,1,1,1,2,1,1,1
8,21,8,8,335,1980,2.322e+06,7,175,21,3,...,96,72,24,1,1,1,2,2,2,3
9,21,9,1,136,2006,145000,7,70,22,4,...,0,0,None,1,1,1,1,2,2,1
10,21,10,10,165,1990,120000,10,35,28,3,...,0,226,None,1,1,1,2,2,2,2
11,21,11,11,110,1995,1.13913e+06,4,44,3,3,...,None,None,None,1,1,1,2,3,2,2
12,21,12,12,130,2006,500000,14,25,25,2,...,15,0,None,1,1,1,1,2,2,1
13,21,13,13,137,2006,1.79867e+06,9,55,15,3,...,228,4,None,1,1,1,1,2,2,2
14,21,14,14,100,1984,1.9e+06,5,50,12,1,...,25,2,1,1,1,1,2,2,2,2
15,21,15,1,176,1988,1.45024e+06,5,68,10,2,...,9,1,0,1,1,1,1,1,1,1
16,21,16,16,158,1992,1e+06,3,40,10,2,...,None,None,None,2,2,None,2,2,2,2
17,21,17,17,80,2007,2.6e+06,5,80,29,12,...,None,None,0,1,1,1,1,2,1,1
18,21,18,18,170,1998,190000,5,15,28,12,...,205,120,None,1,1,1,2,2,3,2
19,21,19,19,135,1971,3.4851e+06,18,80,15,3,...,205,95,None,1,1,1,1,2,1,1
20,21,20,1,111,1986,520000,3,110,10,5,...,90,0,None,1,1,1,2,2,3,2
21,21,21,1,120,1999,1.8e+06,4,120,5,5,...,None,None,None,2,2,None,2,2,2,2
22,21,22,22,91,1994,329793,1,50,21,4,...,None,None,None,2,2,None,2,2,2,2
23,21,23,1,79,1993,541835,4,68,7,4,...,0,225,0,1,1,1,2,2,2,2
24,21,24,1,184,1972,1.59843e+06,8,85,5,5,...,None,None,None,2,2,None,2,2,2,2
25,21,25,25,120,1994,530690,3,120,9,5,...,None,None,None,2,2,None,2,2,2,2
26,21,26,4,165,1946,1.3e+06,9,90,5,6,...,None,None,0,1,1,1,2,1,2,2
27,21,27,1,100,1993,890000,4,90,2,4,...,230,15,None,1,1,1,2,2,2,2
28,21,28,1,72,2004,102500,5,160,23,5,...,29,31,48,1,1,1,1,1,2,2
29,21,29,1,165,2004,3.05492e+06,8,0,9,5,...,24,543,0,1,1,1,1,1,2,2
30,21,30,1,105,1992,554365,4,65,27,5,...,None,None,None,2,2,None,2,2,2,2

The **features/columns correspond to answers for 239 questions asked as a part of the DLHS3DHIND questionnaire.** 

### Retaining the most significant indicators:

On carefully analyzing the questionnaires and each column of the dataset, it seems that there are only a handful of informative indicators. For example, each district of Orissa faces situational factors of development unique to it as well as common administrative and financial problems. **Thus I am only retaining the first 9 indicators for healthcare that might have the most significant effect on the overall socio-economic development of a district and thus help in comparing districts.**

**Reference:** Planning Commision, Government of India: Project Report on [Evaluation of Socio-Economic Development in Small-Areas](http://planningcommission.nic.in/reports/sereport/ser/std_smlarea.pdf)

In [8]:
hospital_data = hospital_data.fillna(value=np.nan)
hospital_data = hospital_data.dropna(axis=1)
hospital_data = hospital_data.dropna(axis=0)
print 'Labels for indicators: ', list(hospital_data.ix[:,0:8].columns)

Labels for indicators:  ['state', 'dist', 'dist_hos', 'dbeds', 'dyear', 'dpc', 'dnchc', 'ddist']

For exploring the indicators/features better, I will enumerate the descriptions of each of the 8 column names.

In [9]:
district_cols = pd.read_excel('./variable_descript_district.xls', index_col=None)
district_cols[0:10]

      Label                                     Name
0     state                                    State
1      dist                                Disctrict
2  dist_hos                   District Hospital Code
3     dbeds                     Total Number of Beds
4     dyear                      Year of functioning
5       dpc  Population Covered by District Hospital
6     dnchc           Number of CHC Catered to by DH
7     ddist          Distance from farthest CHC (km)
8     dintd                           Interview Date
9     dintm                          Interview Month

Stated above are the decriptive names of the indicators retained from the dataset. Variables **dist_hos or District Hospital Code** and **dyear or Year of functioning** don't seem very informative. **State** code also remains the same for the all districts of Orissa. Thus it is **wise to drop all 3 of them for the purpose of creating an index.**

In [10]:
cols_mask = [1,3,5,6,7]
district_cols = district_cols.ix[cols_mask]
cols_list = district_cols.Name
print 'Final indicators for Healthcare Facilities:\n', cols_list

Final indicators for Healthcare Facilities:
1                                  Disctrict
3                       Total Number of Beds
5    Population Covered by District Hospital
6             Number of CHC Catered to by DH
7            Distance from farthest CHC (km)
Name: Name, dtype: object

In [11]:
hospital_data = hospital_data.ix[:,cols_mask]
column_names = {'dist': 'District', 'dbeds': 'Beds_in_hospital', 'dpc': 'Population_per_hospital', 
                    'dnchc':'CHC_per_hospital', 'ddist':'Distance_from_last_CHC'}
hospital_data.rename(columns=column_names, inplace=True)
hospital_data.head()

,District,Beds_in_hospital,Population_per_hospital,CHC_per_hospital,Distance_from_last_CHC
1,1,91,72293,8,140
2,2,100,538385,3,40
3,3,213,1035613,7,160
4,4,80,307945,0,35
5,5,182,4900,1,1

**CHC** - Community Healthcare Centers

In [74]:
names = ['Bargarh',
'Jharsuguda',
'Sambalpur',
'Debagarh',
'Sundargarh',
'Kendujhar',
'Mayurbhanj',
'Baleshwar',
'Bhadrak',
'Kendrapara',
'Jagatsinghapur',
'Cuttack',
'Jajapur',
'Dhenkanal',
'Anugul',
'Nayagarh',
'Khordha',
'Puri',
'Ganjam',
'Gajapati',
'Kandhamal',
'Baudh',
'Sonapur',
'Balangir',
'Nuapada',
'Kalahandi',
'Rayagada',
'Nabarangapur',
'Koraput',
'Malkangiri']

In [13]:
hospital_data.District = names
hospital_data.District = hospital_data.District.str.lower()

### Final Healthcare Indicators:

To recap what has beend one above:

1) **Obtained and Parsed DLHS-3 data file:** Extracted data corresponding to Orissa districts only. 

2) **Explored various indicators** 

3) **Retained four most significant indicators:** These will allow us to compare the healthcare development of all the districts in Orissa and hence contribute to our composite socio-economic index.

4) **Converted Districts Codes to District Names and sorted the dataframe.** 

The final preprocessed dataset looks as follows.

In [14]:
hospital_data.sort(columns='District', inplace=True)
hospital_data.reset_index(drop=True, inplace=True)
health_indicators = hospital_data
print 'Final Healthcare Indicators:\n'
health_indicators

Final Healthcare Indicators:

,District,Beds_in_hospital,Population_per_hospital,CHC_per_hospital,Distance_from_last_CHC
0,anugul,91,72293,8,140
1,balangir,100,538385,3,40
2,baleshwar,213,1035613,7,160
3,bargarh,80,307945,0,35
4,baudh,182,4900,1,1
5,bhadrak,160,985348,13,97
6,cuttack,245,2438000,13,140
7,debagarh,335,2322000,7,175
8,dhenkanal,136,145000,7,70
9,gajapati,165,120000,10,35
10,ganjam,110,1139126,4,44
11,jagatsinghapur,130,500000,14,25
12,jajapur,137,1798673,9,55
13,jharsuguda,100,1900000,5,50
14,kalahandi,176,1450245,5,68
15,kandhamal,158,1000000,3,40
16,kendrapara,80,2600000,5,80
17,kendujhar,170,190000,5,15
18,khordha,135,3485100,18,80
19,koraput,111,520000,3,110
20,malkangiri,120,1800000,4,120
21,mayurbhanj,91,329793,1,50
22,nabarangapur,79,541835,4,68
23,nayagarh,184,1598428,8,85
24,nuapada,120,530690,3,120
25,puri,165,1300000,9,90
26,rayagada,100,890000,4,90
27,sambalpur,72,102500,5,160
28,sonapur,165,3054920,8,0
29,sundargarh,105,554365,4,65

## 2. Agricultural Indicators for Orissa: 

**Reference:** 
Agriculture statistics from  [Department of Agriculture and Farmers' Employement, Govt of Odisha](http://agriodisha.nic.in/http_public/Directorate_Agri/statistics/DISTRICT%20WISE%20MAJOR%20KEY%20INDICATORS%20OF%20ORISSA%20DURING%202005-06.html)

All the area measurements are in '000hect.

In [15]:
agri = pd.read_csv('./agriculture_csv.csv')
agri.sort(columns='DISTRICTS', inplace=True)
agri.DISTRICTS = agri.DISTRICTS.str.lower()
agri.reset_index(drop=True, inplace=True)
agri.head(10)
print agri.columns

Index([u'SL. No.', u'DISTRICTS', u'Normal Rainfall (in mm)',
       u'Rainfall received during 2004 (in mm)', u'Geogra- phical Area',
       u'Culti- vated Area', u'Net Area Sown', u'Gross Cropped Area',
       u'Kharif Cropped Area', u'Rabi Cropped Area', u'Cropping Intensity (%)',
       u'Net Irr- igated Area', u'Gross Irrigated Area', u'Kharif Paddy Area',
       u'Sugar- cane', u'Fruits', u'Total Fert.cons. (Nutrient) ('000mt)',
       u'Per Ha. Fert.Con. (Nutrient) in kgs'],
      dtype='object')

## Retaining the most significant indicators

Like above, I'll be retaining the indicators that look the most informative.

In [56]:
cols_mask = [1,5,6,8,9,11,13,14,15,17]
agri_indicators = agri.ix[:,cols_mask]
col_names = {'DISTRICTS': 'District','Culti- vated Area':'Cultivated_Area', 'Net Area Sown':'Net_Sown_Area', 
             'Kharif Cropped Area':'Kharif', 'Rabi Cropped Area':'Rabi', 'Net Irr- igated Area':'Net_Irrigated',
             'Kharif Paddy Area': 'Paddy','Sugar- cane':'Sugarcane','Fruits':'Fruits', 
             'Per Ha. Fert.Con. (Nutrient) in kgs':'Fertilizer_per_hec'}
agri_indicators.rename(columns=col_names, inplace=True)
agri_indicators

,District,Cultivated_Area,Net_Sown_Area,Kharif,Rabi,Net_Irrigated,Paddy,Sugarcane,Fruits,Fertilizer_per_hec
0,anugul,219,193,226.71,93.68,42.80,109.87,0.48,19.61,25
1,balasore,244,232,235.13,89.23,87.40,215.05,0.22,7.61,85
2,baragarh,345,317,325.77,91.84,140.70,231.35,1.36,5.76,83
3,bhadrak,178,170,180.63,54.80,106.03,166.97,0.67,7.99,93
4,bolangir,338,332,369.18,87.59,49.35,225.75,1.97,10.77,32
5,boudh,89,84,91.11,39.79,39.84,67.19,0.15,3.41,40
6,cuttack,177,164,167.88,143.62,93.94,147.30,2.83,12.46,50
7,deogarh,72,65,81.67,28.11,18.95,51.47,0.03,4.20,23
8,dhenkanal,193,165,183.21,80.21,44.93,119.30,1.49,15.62,22
9,gajapati,80,74,79.38,47.28,18.16,33.27,0.61,13.18,46
10,ganjam,395,378,395.09,233.77,242.33,246.79,3.58,34.71,66
11,jagatsingpur,110,96,101.41,78.28,74.99,90.16,1.25,5.30,35
12,jajpur,166,152,161.06,97.86,43.30,137.01,0.86,7.86,60
13,jharsuguda,86,78,85.06,20.97,15.80,60.46,0.23,4.78,69
14,kalahandi,371,360,404.76,165.08,126.22,236.87,1.37,13.13,44
15,kendrapara,152,138,148.98,103.06,29.70,136.39,0.22,5.10,25
16,keonjhar,302,285,310.88,96.09,65.22,198.57,0.30,14.72,30
17,khurda,140,133,128.08,77.52,47.95,113.02,0.92,21.04,44
18,koraput,302,287,295.10,73.38,87.86,120.56,7.28,26.85,25
19,malkangiri,141,127,160.98,30.18,39.11,95.02,0.01,7.23,25
20,mayurbhanj,441,382,385.17,80.20,113.60,308.89,0.02,16.05,30
21,nawapara,178,163,204.42,49.79,31.36,103.17,0.07,5.74,25
22,nawarangpur,216,208,246.22,38.78,12.06,167.40,4.43,21.64,55
23,nayagarh,134,131,128.33,91.34,34.46,99.51,5.16,12.14,27
24,phulbani,134,115,126.32,47.33,15.60,55.33,0.00,12.94,4
25,puri,150,135,136.07,145.28,87.93,128.58,0.48,18.72,54
26,rayagada,194,143,168.76,45.38,32.71,46.38,0.21,15.19,36
27,sambalpur,194,177,202.91,63.25,60.03,132.26,0.09,11.01,70
28,sonepur,111,107,125.16,56.35,63.12,98.74,0.33,5.07,26
29,sundargarh,313,300,284.77,60.38,57.25,211.14,0.09,17.94,24

## Merging both indicators from both the datasets

For building a final composite index, the healthcare indicators and the agriculture indicators need to be merged into a single dataframe for each district. This final dataset will contain: 

* **Rows:** District Names 
* **Columns:** Socio-economic Indicators 

Like SQL INNER-JOINS this can be done by a MERGE or a CONCAT operation in Pandas. 

### Problem: Mismatch in District Names

But after a careful reading of the District columns, I realized that there is a significant **mismatch between the District names of the two datasets.** 
For example, in the dataframe hospital_data district names *'Balangir', 'Nabarangapur'* has a corresponding entry in the agriculture dataframe as *'Bolangir' & 'Nawarangpur'*.

This has happened probably due to human error (difference in dialect and the conversion of local names to English) and will not allow merging the two dataframes. 

### Solution: String Matching
Using string matching algorithms provided by the Python package difflib, it can be seen that the closest strings are as follows:

In [57]:
import difflib
for x in agri_indicators.District:
    conv = difflib.get_close_matches(x, health_indicators.District, n=2)
    print x, ' : ', conv

anugul  :  ['anugul']
balasore  :  ['balangir']
baragarh  :  ['bargarh', 'nayagarh']
bhadrak  :  ['bhadrak']
bolangir  :  ['balangir', 'malkangiri']
boudh  :  ['baudh']
cuttack  :  ['cuttack']
deogarh  :  ['debagarh']
dhenkanal  :  ['dhenkanal']
gajapati  :  ['gajapati']
ganjam  :  ['ganjam']
jagatsingpur  :  ['jagatsinghapur', 'jajapur']
jajpur  :  ['jajapur', 'sonapur']
jharsuguda  :  ['jharsuguda']
kalahandi  :  ['kalahandi']
kendrapara  :  ['kendrapara', 'kendujhar']
keonjhar  :  ['kendujhar']
khurda  :  ['khordha']
koraput  :  ['koraput']
malkangiri  :  ['malkangiri', 'balangir']
mayurbhanj  :  ['mayurbhanj']
nawapara  :  ['nuapada', 'kendrapara']
nawarangpur  :  ['nabarangapur']
nayagarh  :  ['nayagarh', 'sundargarh']
phulbani  :  []
puri  :  ['puri']
rayagada  :  ['rayagada', 'nayagarh']
sambalpur  :  ['sambalpur', 'sonapur']
sonepur  :  ['sonapur']
sundargarh  :  ['sundargarh', 'bargarh']

For **29/30 district names in Agriculture Dataset have found a match in the corresponding District Level Hospital Data.** It can be affirmed the mismatch is due to mispelling of local names. 

For the remaining one district (Phulbani) that has no matching string, I'll do a reverse matching of strings.

In [58]:
for y in hospital_data.District:
    print y, ' : ', difflib.get_close_matches(y, agri.DISTRICTS, n=1)

anugul  :  ['anugul']
balangir  :  ['bolangir']
baleshwar  :  []
bargarh  :  ['baragarh']
baudh  :  ['boudh']
bhadrak  :  ['bhadrak']
cuttack  :  ['cuttack']
debagarh  :  ['deogarh']
dhenkanal  :  ['dhenkanal']
gajapati  :  ['gajapati']
ganjam  :  ['ganjam']
jagatsinghapur  :  ['jagatsingpur']
jajapur  :  ['jajpur']
jharsuguda  :  ['jharsuguda']
kalahandi  :  ['kalahandi']
kandhamal  :  []
kendrapara  :  ['kendrapara']
kendujhar  :  ['keonjhar']
khordha  :  ['khurda']
koraput  :  ['koraput']
malkangiri  :  ['malkangiri']
mayurbhanj  :  ['mayurbhanj']
nabarangapur  :  ['nawarangpur']
nayagarh  :  ['nayagarh']
nuapada  :  ['nawapara']
puri  :  ['puri']
rayagada  :  ['rayagada']
sambalpur  :  ['sambalpur']
sonapur  :  ['sonepur']
sundargarh  :  ['sundargarh']

### Inference:
It can be seen that Kandhamal and Baleshwar in DLHS-3 don't have a corresponding match either. According to Wikipedia it turns out that **Kandhamal is the official District name and Phulbani is a city in the Kandhamal district**. Likewise **Baleshwar is the official district name and Bolasore is a city in the Baleshwar district.**

In [59]:
district_names = []
for x in agri.DISTRICTS:
    conv = difflib.get_close_matches(x, health_indicators.District, n=1)
    if x == 'balasore':
        district_names.append('baleshwar')
    elif x == 'phulbani':
        district_names.append('kandhamal')
    else:
        district_names.append(conv[0])
        

print 'Original'
print list(agri_indicators.District)
print '\nMatched Names'
print district_names

Original
['anugul', 'balasore', 'baragarh', 'bhadrak', 'bolangir', 'boudh', 'cuttack', 'deogarh', 'dhenkanal', 'gajapati', 'ganjam', 'jagatsingpur', 'jajpur', 'jharsuguda', 'kalahandi', 'kendrapara', 'keonjhar', 'khurda', 'koraput', 'malkangiri', 'mayurbhanj', 'nawapara', 'nawarangpur', 'nayagarh', 'phulbani', 'puri', 'rayagada', 'sambalpur', 'sonepur', 'sundargarh']

Matched Names
['anugul', 'baleshwar', 'bargarh', 'bhadrak', 'balangir', 'baudh', 'cuttack', 'debagarh', 'dhenkanal', 'gajapati', 'ganjam', 'jagatsinghapur', 'jajapur', 'jharsuguda', 'kalahandi', 'kendrapara', 'kendujhar', 'khordha', 'koraput', 'malkangiri', 'mayurbhanj', 'nuapada', 'nabarangapur', 'nayagarh', 'kandhamal', 'puri', 'rayagada', 'sambalpur', 'sonapur', 'sundargarh']

In [60]:
agri_indicators.District = district_names
agri_indicators.sort(columns='District', inplace=True)
print 'Final Agriculture Indicators'
agri_indicators

Final Agriculture Indicators

,District,Cultivated_Area,Net_Sown_Area,Kharif,Rabi,Net_Irrigated,Paddy,Sugarcane,Fruits,Fertilizer_per_hec
0,anugul,219,193,226.71,93.68,42.80,109.87,0.48,19.61,25
4,balangir,338,332,369.18,87.59,49.35,225.75,1.97,10.77,32
1,baleshwar,244,232,235.13,89.23,87.40,215.05,0.22,7.61,85
2,bargarh,345,317,325.77,91.84,140.70,231.35,1.36,5.76,83
5,baudh,89,84,91.11,39.79,39.84,67.19,0.15,3.41,40
3,bhadrak,178,170,180.63,54.80,106.03,166.97,0.67,7.99,93
6,cuttack,177,164,167.88,143.62,93.94,147.30,2.83,12.46,50
7,debagarh,72,65,81.67,28.11,18.95,51.47,0.03,4.20,23
8,dhenkanal,193,165,183.21,80.21,44.93,119.30,1.49,15.62,22
9,gajapati,80,74,79.38,47.28,18.16,33.27,0.61,13.18,46
10,ganjam,395,378,395.09,233.77,242.33,246.79,3.58,34.71,66
11,jagatsinghapur,110,96,101.41,78.28,74.99,90.16,1.25,5.30,35
12,jajapur,166,152,161.06,97.86,43.30,137.01,0.86,7.86,60
13,jharsuguda,86,78,85.06,20.97,15.80,60.46,0.23,4.78,69
14,kalahandi,371,360,404.76,165.08,126.22,236.87,1.37,13.13,44
24,kandhamal,134,115,126.32,47.33,15.60,55.33,0.00,12.94,4
15,kendrapara,152,138,148.98,103.06,29.70,136.39,0.22,5.10,25
16,kendujhar,302,285,310.88,96.09,65.22,198.57,0.30,14.72,30
17,khordha,140,133,128.08,77.52,47.95,113.02,0.92,21.04,44
18,koraput,302,287,295.10,73.38,87.86,120.56,7.28,26.85,25
19,malkangiri,141,127,160.98,30.18,39.11,95.02,0.01,7.23,25
20,mayurbhanj,441,382,385.17,80.20,113.60,308.89,0.02,16.05,30
22,nabarangapur,216,208,246.22,38.78,12.06,167.40,4.43,21.64,55
23,nayagarh,134,131,128.33,91.34,34.46,99.51,5.16,12.14,27
21,nuapada,178,163,204.42,49.79,31.36,103.17,0.07,5.74,25
25,puri,150,135,136.07,145.28,87.93,128.58,0.48,18.72,54
26,rayagada,194,143,168.76,45.38,32.71,46.38,0.21,15.19,36
27,sambalpur,194,177,202.91,63.25,60.03,132.26,0.09,11.01,70
28,sonapur,111,107,125.16,56.35,63.12,98.74,0.33,5.07,26
29,sundargarh,313,300,284.77,60.38,57.25,211.14,0.09,17.94,24

## 3. Literacy, Employment and Schooling data

**Reference:** Census, Govt of India 2011 [here](http://www.censusindia.gov.in/vital_statistics/AHSBulletins/AHS_Factsheets_2011_12/OdishaFactsheet_2011-12.pdf)

* **Literacy Rate**: Literacy rate of each district
* **High_scool_perc**: Percentage of children going to High School (6-17 years).

In [61]:
literacy = pd.read_csv('./literacy.csv')
del literacy['Unnamed: 0']

In [62]:
literacy.head(30)

          District  Literacy_rate  High_school_perc
0           anugul           84.8              84.3
1         balangir           77.5              81.1
2        baleshwar           86.7              90.2
3          bargarh           80.6              77.1
4            baudh           77.1              87.6
5          bhadrak           84.0              87.0
6          cuttack           87.6              87.4
7         debagarh           79.7              81.2
8        dhenkanal           84.2              83.1
9         gajapati           60.8              86.5
10          ganjam           77.4              84.9
11  jagatsinghapur           88.2              94.4
12         jajapur           82.7              86.6
13      jharsuguda           84.0              81.8
14       kalahandi           65.8              85.5
15       kandhamal           68.6              92.8
16      kendrapara           84.1              88.4
17       kendujhar           78.5              81.8
18         khordha           90.5              89.4
19         koraput           55.8              75.3
20      malkangiri           50.2              76.7
21      mayurbhanj           68.5              84.6
22    nabarangapur           51.8              69.9
23        nayagarh           64.4              84.3
24         nuapada           86.7              84.7
25            puri           89.2              93.2
26        rayagada           60.3              78.6
27       sambalpur           80.6              79.0
28         sonapur           80.9              90.4
29      sundargarh           79.6              87.4

## Final Cleaned and Merged Indicator Dataset

In [63]:
indicators = health_indicators.merge(agri_indicators, how='inner', on=['District'])
indicators = indicators.merge(literacy, how='inner', on=['District'])
print 'Final Indicator Dataset'
print indicators.shape
indicators.head(5)

Final Indicator Dataset
(30, 16)

,District,Beds_in_hospital,Population_per_hospital,CHC_per_hospital,Distance_from_last_CHC,Cultivated_Area,Net_Sown_Area,Kharif,Rabi,Net_Irrigated,Paddy,Sugarcane,Fruits,Fertilizer_per_hec,Literacy_rate,High_school_perc
0,anugul,91,72293,8,140,219,193,226.71,93.68,42.80,109.87,0.48,19.61,25,84.8,84.3
1,balangir,100,538385,3,40,338,332,369.18,87.59,49.35,225.75,1.97,10.77,32,77.5,81.1
2,baleshwar,213,1035613,7,160,244,232,235.13,89.23,87.40,215.05,0.22,7.61,85,86.7,90.2
3,bargarh,80,307945,0,35,345,317,325.77,91.84,140.70,231.35,1.36,5.76,83,80.6,77.1
4,baudh,182,4900,1,1,89,84,91.11,39.79,39.84,67.19,0.15,3.41,40,77.1,87.6

## Modelling: Aggregating the indicators into a composite index

Reference: https://composite-indicators.jrc.ec.europa.eu/?q=content/overview

A lot of time was spent on reviewing different data sources, aggregating and preparing the dataset. Finally, a total of 15 important socio-economic indicators were selected in this solution that reflect the development in **healthcare, education, agriculture** and **education** for a particular district.

Any single indicator cannot be used to evaluate the socio-economic development of a district. Development is essentially a multi-dimensional process and depends upon a lot of factors/indicators. Infact, analyzing individual indicators can often be misleading or may not even be fruitful. 

### Problem Statement:

Therefore, the 15 socio-economic development indicators need to be combined/aggregated into a calculate a single composite metric that can thereafter represent the rank of a particular district.

### a. Preprocessing the indicators

### Correlated Data:

Let's examine our dataframes correlation matrix and drop highly correlated/redundant data to address multicollinearity

In [64]:
cor = indicators.corr()
cor.loc[:,:] = np.tril(cor, k=-1) # below main lower triangle of an array
cor = cor.stack()
cor[(cor > 0.60) | (cor < -0.50)]

Net_Sown_Area     Cultivated_Area    0.993277
Kharif            Cultivated_Area    0.982312
                  Net_Sown_Area      0.989147
Net_Irrigated     Cultivated_Area    0.672419
                  Net_Sown_Area      0.682272
                  Kharif             0.646244
                  Rabi               0.781070
Paddy             Cultivated_Area    0.897509
                  Net_Sown_Area      0.909294
                  Kharif             0.881965
                  Net_Irrigated      0.682316
High_school_perc  Literacy_rate      0.600944
dtype: float64

In [65]:
indicators.drop(['Paddy', 'Cultivated_Area', 'Kharif', 'Rabi'], axis=1, inplace=True)

## Standardization:

Before going to the aggregating or building the composite index, it is necessary to bring the indicators to the same standard, by transforming them in dimensionless numbers. Let's finish pre-processing our data to get a completely numerical representation of the feature space.

In [66]:
import seaborn as sns
import matplotlib.pyplot as plt

In [67]:
from sklearn.preprocessing import StandardScaler

X_indicators = indicators.ix[:,1:].copy() #leaving the numerical district column out
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_indicators)

### Aggregation and Ranking:

I am using an equally weighted method for aggregating the standardized indicators. On a mathematical level, this would mean taking the average of all the standardized indicator values for each district.

In [68]:
import operator
scaled_average = np.mean(X_scaled, axis=1) #Equal weighting or simple averaging
dictionary = dict(zip(indicators.ix[:,0], scaled_average))
sorted_x = sorted(dictionary.items(), key=operator.itemgetter(1), reverse=True)
print 'Ranking based on Equally Weighted Average:\n'
for index, rank in enumerate(sorted_x):
    print index+1, '', rank[0], rank[1]

Ranking based on Equally Weighted Average:

1  ganjam 0.876599186851
2  cuttack 0.857902505616
3  khordha 0.693122374182
4  baleshwar 0.616381463071
5  bhadrak 0.49887470219
6  puri 0.470136462945
7  kalahandi 0.280816978162
8  debagarh 0.158887380543
9  koraput 0.130964411139
10  nayagarh 0.0951063815575
11  jajapur 0.0826548728753
12  jagatsinghapur 0.0602701129584
13  anugul -0.0197315460152
14  sonapur -0.0426774834536
15  sundargarh -0.0909680722765
16  sambalpur -0.117450907365
17  bargarh -0.125863880331
18  dhenkanal -0.15519078917
19  mayurbhanj -0.181787315387
20  kendrapara -0.188343095853
21  kendujhar -0.199565286047
22  balangir -0.234577423321
23  jharsuguda -0.294012861645
24  nuapada -0.302940911298
25  gajapati -0.35732927697
26  nabarangapur -0.410700033472
27  kandhamal -0.441151677967
28  rayagada -0.49354182256
29  baudh -0.579958065243
30  malkangiri -0.585926383716

## Conclusion

For a quick recap, the following things were done and improvements that can be made to come up with a better indicator.

1. **Data was prepared and merged from various sources.** This was particularly time-taking since most of the data I obtained was at the State or village-household level. Finally indicators from DLHS-3 data (Healthcare Data), Literacy Data (Census Data) and Agriculture Data were chosen. Since agriculture seems to be the main occupation in the state of Orissa, the above indicators are reflective of the socio-economic development of a district.

2. **Correlation Analysis:** The set of indicators were analyzed for correlations and indicators bearing high correlations with other indicators were dropped. This is particularly an important step for the aggregation stage later. Correlated variables while aggregating (or weighting) might be bias the indicator.

3. **Standardization:** Standardization of indicators is necessary since each are essentially measured on different scales. At the same time, there might exist different interpretation or trends within each indicator. Standardization enables us to bring all these indicators to the same scale.

4. **Aggregation:** The scaled or standardized indicators were then aggregated by a simple equal weighting. Idea is to combine the combined indicators into a single score. 

5. **Ranking:** Based on these aggregated scores, the districts were sorted/ranked. 

#### Further Improvements:

There are indeed some improvements that could be made to this method for obtaining a more robust composite indicator. 

**Firstly, at the data-level.** Additional district level data could be used to obtain indicators. For example, I wanted to include indicators like **Percentage of working population**, **Average Income** and other **infrastructural indicators**. However, it was challenging to find datasets at the district level. 

**Secondly, in the aggregation or weighting procedure.** Currently, I am using an equal weighting of the indicators. Ideally, the **weights should reflect the relative importance to the socio-economic development** of the district. With domain knowledge or expertise such weighting heuristics would lead to a more reliable composite indicator. Another method could be Factor Analysis. 

The final indicators are given below:

In [69]:
indicators

,District,Beds_in_hospital,Population_per_hospital,CHC_per_hospital,Distance_from_last_CHC,Net_Sown_Area,Net_Irrigated,Sugarcane,Fruits,Fertilizer_per_hec,Literacy_rate,High_school_perc
0,anugul,91,72293,8,140,193,42.80,0.48,19.61,25,84.8,84.3
1,balangir,100,538385,3,40,332,49.35,1.97,10.77,32,77.5,81.1
2,baleshwar,213,1035613,7,160,232,87.40,0.22,7.61,85,86.7,90.2
3,bargarh,80,307945,0,35,317,140.70,1.36,5.76,83,80.6,77.1
4,baudh,182,4900,1,1,84,39.84,0.15,3.41,40,77.1,87.6
5,bhadrak,160,985348,13,97,170,106.03,0.67,7.99,93,84.0,87.0
6,cuttack,245,2438000,13,140,164,93.94,2.83,12.46,50,87.6,87.4
7,debagarh,335,2322000,7,175,65,18.95,0.03,4.20,23,79.7,81.2
8,dhenkanal,136,145000,7,70,165,44.93,1.49,15.62,22,84.2,83.1
9,gajapati,165,120000,10,35,74,18.16,0.61,13.18,46,60.8,86.5
10,ganjam,110,1139126,4,44,378,242.33,3.58,34.71,66,77.4,84.9
11,jagatsinghapur,130,500000,14,25,96,74.99,1.25,5.30,35,88.2,94.4
12,jajapur,137,1798673,9,55,152,43.30,0.86,7.86,60,82.7,86.6
13,jharsuguda,100,1900000,5,50,78,15.80,0.23,4.78,69,84.0,81.8
14,kalahandi,176,1450245,5,68,360,126.22,1.37,13.13,44,65.8,85.5
15,kandhamal,158,1000000,3,40,115,15.60,0.00,12.94,4,68.6,92.8
16,kendrapara,80,2600000,5,80,138,29.70,0.22,5.10,25,84.1,88.4
17,kendujhar,170,190000,5,15,285,65.22,0.30,14.72,30,78.5,81.8
18,khordha,135,3485100,18,80,133,47.95,0.92,21.04,44,90.5,89.4
19,koraput,111,520000,3,110,287,87.86,7.28,26.85,25,55.8,75.3
20,malkangiri,120,1800000,4,120,127,39.11,0.01,7.23,25,50.2,76.7
21,mayurbhanj,91,329793,1,50,382,113.60,0.02,16.05,30,68.5,84.6
22,nabarangapur,79,541835,4,68,208,12.06,4.43,21.64,55,51.8,69.9
23,nayagarh,184,1598428,8,85,131,34.46,5.16,12.14,27,64.4,84.3
24,nuapada,120,530690,3,120,163,31.36,0.07,5.74,25,86.7,84.7
25,puri,165,1300000,9,90,135,87.93,0.48,18.72,54,89.2,93.2
26,rayagada,100,890000,4,90,143,32.71,0.21,15.19,36,60.3,78.6
27,sambalpur,72,102500,5,160,177,60.03,0.09,11.01,70,80.6,79.0
28,sonapur,165,3054920,8,0,107,63.12,0.33,5.07,26,80.9,90.4
29,sundargarh,105,554365,4,65,300,57.25,0.09,17.94,24,79.6,87.4